@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap");
.phone-order, .nav, .logo-under {
  color: #FFF;
  font-family: "Tenor Sans", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
}

header {
  position: fixed;
  width: 100%;
  height: 85px;
  background-color: #151515;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 80px;
  z-index: 1;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-under {
  text-transform: capitalize;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 37px;
}

.nav:hover {
  color: #F00;
  border-bottom: 1px #F00 dashed;
}

.phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 9px;
}

.phone-number {
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
}

.phone-order {
  text-decoration: underline;
}

.phone-order:hover {
  color: #F00;
}

.line {
  display: none;
}

.li-for-mobile {
  color: #FFF;
  font-family: "Tenor Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
}

.li-for-mobile:hover {
  color: #F00;
  -webkit-text-decoration: underline dashed;
          text-decoration: underline dashed;
}

@media screen and (max-width: 1180px) {
  nav {
    display: none;
  }
  .visible {
    display: none;
  }
  header {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .line {
    width: 43px;
    height: 30px;
    display: block;
    background-image: url(../images/three-lines.svg);
    background-repeat: no-repeat;
  }
  .links {
    display: none;
    position: absolute;
    background: rgba(1, 1, 1, 0.95);
    width: 100%;
    height: 353px;
    left: 0;
    top: 0;
  }
  .cross {
    display: none;
  }
  .line:hover .links {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 37px;
  }
  .line:hover .cross {
    display: block;
    position: absolute;
    top: 27px;
    right: 19.5px;
  }
}
@media screen and (max-width: 779px) {
  header {
    gap: 0px;
  }
  .for-mobile {
    width: 65.457px;
    height: 16.364px;
  }
  .logo-under {
    font-size: 10px;
  }
  .telefon-icon {
    display: none;
  }
  .phone-number {
    font-size: 18px;
  }
  .line {
    width: 38px;
    height: 30px;
  }
}
.greetings {
  height: 835px;
  background-color: #010101;
  background-image: url(../images/Mask\ Group.svg);
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 1173px 825px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 65px;
  padding-left: 185px;
}

.greetings div {
  max-width: 625px;
  width: 100%;
}

.greetings-title {
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 88.6%; /* 53.16px */
}

.greetings-text {
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 53.16px */
  max-width: 607px;
  width: 100%;
}

.greetings-btn {
  padding: 19px 53px;
  background-color: #F00;
  border: none;
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal; /* 53.16px */
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

@media screen and (max-width: 1180px) {
  .greetings {
    background-size: 670px 483px;
    height: 670px;
    padding-left: 34px;
  }
  .greetings-title {
    font-size: 50px;
  }
  .greetings-text {
    font-size: 16px;
  }
  .greetings-btn {
    padding: 15px 50px;
  }
}
@media screen and (max-width: 779px) {
  .greetings-title {
    font-size: 40px;
  }
  .greetings-text {
    font-size: 16px;
  }
  .greetings-btn {
    padding: 15px 45px;
    font-size: 13px;
  }
}
@media screen and (max-width: 500px) {
  .greetings {
    background-size: 430px 400px;
    height: 634px;
    padding-left: 20px;
  }
}
.about-site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 705px;
  height: 100%;
}

.about-site-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 22px;
  padding-top: 51px;
  padding-bottom: 51px;
}

.about-site-block {
  width: 379px;
  height: 509px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #FFF8F8;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 43px;
}
.about-site-block h1 {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 88.6%;
  width: 287px;
}
.about-site-block p {
  color: #3A3A3A;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 190%;
  width: 287px;
}
.about-site-block .about-site-block-info {
  color: #050505;
  font-family: "Tenor Sans", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid #1D1C1C;
  text-align: center;
  width: 287px;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1s background-color;
  transition: 1s background-color;
}
.about-site-block .about-site-block-info:hover {
  background-color: rgba(255, 149, 149, 0.6941176471);
}

.about-site-block-visible {
  display: none;
}

@media screen and (max-width: 1180px) {
  .about-site-block {
    width: 339px;
    height: 448px;
  }
  .about-site-block h1 {
    color: #000;
    font-family: "Montserrat", sans-serif;
    font-size: 43px;
    font-style: normal;
    font-weight: 700;
    line-height: 88.6%;
    width: 289px;
  }
  .about-site-block p {
    color: #3A3A3A;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 190%;
    width: 289px;
  }
  .about-site-block .about-site-block-info {
    width: 289px;
    height: 56px;
  }
  .about-site-block .about-site-block-info:hover {
    background-color: rgba(255, 149, 149, 0.6941176471);
  }
}
@media screen and (max-width: 1060px) {
  .about-site-block-visible {
    width: 339px;
    height: 448px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #FFF8F8;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 43px;
  }
  .about-site-block-visible img {
    width: 100%;
  }
}
@media screen and (max-width: 779px) {
  .about-site-block {
    width: 295px;
    height: 427px;
  }
  .about-site-block h1 {
    color: #000;
    font-family: "Montserrat", sans-serif;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 88.6%;
    width: 255px;
  }
  .about-site-block p {
    color: #3A3A3A;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 190%;
    width: 255px;
  }
  .about-site-block .about-site-block-info {
    width: 255px;
    height: 56px;
  }
  .about-site-block .about-site-block-info:hover {
    background-color: rgba(255, 149, 149, 0.6941176471);
  }
  .about-site-block-visible {
    width: 295px;
    height: 427px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #FFF8F8;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 43px;
  }
  .about-site-block-visible img {
    width: 100%;
  }
}
@media screen and (max-width: 611px) {
  .about-site-block-visible {
    display: none;
  }
}
.good-site-options {
  min-height: 1192px;
  height: 100%;
  background-color: #010101;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 31px;
}

.good-site-options-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 100px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.good-site-options-block-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 70px;
}

.title-block-one span {
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 88.567%; /* 53.16px */
}

.usefulness-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 56px;
     -moz-column-gap: 56px;
          column-gap: 56px;
}

.usefulness-block-one {
  width: 360px;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.usefulness-block-one-svg {
  height: 116px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.usefulnes-first {
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: 50px; /* 53.16px */
}

.block-usefulnes-description {
  grid-column: 1/3;
  height: 130px;
}

.usefulnes-description {
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 178.567%; /* 53.16px */
}

.good-site-options-block-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.block-two-title {
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 88.567%; /* 53.16px */
}

.block-two-li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 31px;
}

.block-two-number-size {
  max-width: 81px;
  width: 100%;
}

.block-two-number {
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 55.641px;
  font-style: normal;
  font-weight: 900;
  line-height: normal; /* 53.16px */
  color: #F00;
}

.block-two-name-size {
  max-width: 296px;
  min-width: 296px;
  width: 100%;
}

.block-two-name {
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 88.567%; /* 53.16px */
  color: #FFF8F8;
}

.block-two-text-size {
  max-width: 592px;
  width: 100%;
}

.block-two-text {
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 158.567%; /* 53.16px */
  color: #FFF8F8;
}

.good-site-options-block-three {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.options-block-three-btn {
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal; /* 53.16px */
  color: #FFF;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  background-color: #F00;
  width: 498px;
  height: 58px;
  border: none;
  -webkit-transition: 1s background-color;
  transition: 1s background-color;
}

.options-block-three-btn:hover {
  background-color: rgb(252, 118, 118);
}

@media screen and (max-width: 1254px) {
  .good-site-options {
    padding-top: 87px;
    padding-bottom: 87px;
  }
}
@media screen and (max-width: 838px) {
  .good-site-options {
    padding: 87px 31px;
  }
  .usefulness-blocks {
    -webkit-column-gap: 34px;
       -moz-column-gap: 34px;
            column-gap: 34px;
  }
  .usefulness-block-one {
    width: 302px;
  }
  .adaptiv-photo {
    width: 72.043px;
    height: 72.043px;
  }
  .adaptiv-photo-2 {
    width: 83px;
    height: 102px;
  }
  .adaptiv-photo-3 {
    width: 89.884px;
    height: 103.953px;
  }
  .usefulnes-first {
    font-size: 30px;
  }
  .usefulnes-description {
    font-size: 16px;
  }
}
@media screen and (max-width: 750px) {
  .title-block-one span {
    font-size: 33px;
  }
  .block-two-title {
    font-size: 33px;
  }
  .block-two-li {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    gap: 12px;
  }
  .options-block-three-btn {
    width: 267px;
    height: 82px;
  }
}
@media screen and (max-width: 700px) {
  .usefulness-block-one {
    width: 273px;
  }
  .adaptiv-photo {
    width: 72.043px;
    height: 72.043px;
  }
  .adaptiv-photo-2 {
    width: 83px;
    height: 102px;
  }
  .adaptiv-photo-3 {
    width: 89.884px;
    height: 103.953px;
  }
  .usefulnes-first {
    font-size: 28px;
  }
  .usefulnes-description {
    font-size: 14px;
  }
}
.preliminary-cost-block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.flex-for-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.middle-photo-left {
  position: relative;
  top: 115px;
  right: 441px;
  z-index: -1;
}

.middle-photo-right {
  position: relative;
  top: 185px;
  right: 253px;
  z-index: -1;
}

.flex-for-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.preliminary-cost-block-for-info {
  width: 660px;
  height: 400px;
  position: relative;
  top: 58px;
  right: 137px;
  background: #FFF8F8;
  -webkit-box-shadow: 0px 26px 76px 0px rgba(12, 22, 36, 0.16);
          box-shadow: 0px 26px 76px 0px rgba(12, 22, 36, 0.16);
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 22px;
  z-index: 0;
}

.preliminary-cost-block-for-info div {
  width: 546px;
}

.preliminary-cost-block-for-info-adaptiv div {
  width: 546px;
}

.block-for-info-title {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: 137.187%; /* 41.156px */
}

.block-for-info-text {
  color: #3A3A3A;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 183.911%; /* 41.156px */
}

.block-for-info-button {
  background-color: #F00;
  width: 306px;
  height: 58px;
  border: none;
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal; /* 53.16px */
  text-transform: uppercase;
  -webkit-transition: 1s background-color;
  transition: 1s background-color;
}

.block-for-info-button:hover {
  background-color: rgb(252, 118, 118);
}

.block-for-info-button-adaptiv {
  background-color: #F00;
  width: 306px;
  height: 58px;
  border: none;
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal; /* 53.16px */
  text-transform: uppercase;
  -webkit-transition: 1s background-color;
  transition: 1s background-color;
}

.block-for-info-button-adaptiv:hover {
  background-color: rgb(252, 118, 118);
}

.big-photo {
  position: relative;
  right: 413px;
  z-index: -2;
}

.small-photo {
  position: relative;
  justify-self: end;
  top: -125px;
  right: 367px;
  z-index: -1;
}

.preliminary-cost-block-for-info-adaptiv {
  display: none;
  width: 660px;
  height: 400px;
  position: relative;
  top: -130px;
  right: 210px;
  background: #FFF8F8;
  -webkit-box-shadow: 0px 26px 76px 0px rgba(12, 22, 36, 0.16);
          box-shadow: 0px 26px 76px 0px rgba(12, 22, 36, 0.16);
  z-index: -1;
}

@media screen and (max-width: 1615px) {
  .middle-photo-left {
    width: 314px;
    height: 210px;
    right: 310px;
  }
  .middle-photo-right {
    width: 230px;
    height: 153px;
    right: 210px;
  }
  .preliminary-cost-block-for-info {
    right: 37px;
  }
  .big-photo {
    width: 628.969px;
    height: 424.07px;
    right: 313px;
  }
  .small-photo {
    width: 237.471px;
    height: 154.816px;
    right: 267px;
    top: -100px;
  }
}
@media screen and (max-width: 1360px) {
  .preliminary-cost-block-for-info-adaptiv {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 22px;
    z-index: 0;
  }
  .preliminary-cost-block-for-info {
    display: none;
  }
  .small-photo {
    display: none;
  }
}
@media screen and (max-width: 960px) {
  .preliminary-cost-block {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .middle-photo-left {
    width: 162.854px;
    height: 108.915px;
    right: 13px;
    top: 44px;
  }
  .middle-photo-right {
    width: 130.368px;
    height: 86.723px;
    right: 0px;
    top: 82px;
  }
  .preliminary-cost-block-for-info-adaptiv {
    width: 295px;
    height: 420px;
    right: 0px;
    top: 0px;
  }
  .preliminary-cost-block-for-info-adaptiv div {
    width: 265.302px;
  }
  .big-photo {
    width: 304.679px;
    height: 205.424px;
    right: 15px;
  }
  .block-for-info-title {
    font-size: 20px;
  }
  .block-for-info-button-adaptiv {
    width: 268px;
    height: 33px;
  }
}
.portfolio {
  max-height: 1208px;
  height: 100%;
  background-color: #010101;
  padding-top: 96px;
  padding-bottom: 96px;
}

.portfolio-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 58px;
}

.portfolio-block-title {
  color: #FFF;
  /* Заголовок 2 */
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 88.567%; /* 44.283px */
}

.portfolio-block-photo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio-block-photo div:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.portfolio-images {
  width: 100%;
}

.portfolio-button {
  width: 281px;
  height: 38px;
  border: 1px solid #FFF;
  background: none;
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.portfolio-button:hover {
  -webkit-animation-name: background;
          animation-name: background;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes background {
  from {
    background: none;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    background: rgb(180, 35, 216);
    -webkit-transform: rotate(11.25deg) scale(1.2);
            transform: rotate(11.25deg) scale(1.2);
  }
  50% {
    background: rgb(14, 43, 208);
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    background: rgb(55, 228, 217);
    -webkit-transform: rotate(-11.25deg) scale(1.2);
            transform: rotate(-11.25deg) scale(1.2);
  }
  to {
    background: red;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes background {
  from {
    background: none;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    background: rgb(180, 35, 216);
    -webkit-transform: rotate(11.25deg) scale(1.2);
            transform: rotate(11.25deg) scale(1.2);
  }
  50% {
    background: rgb(14, 43, 208);
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    background: rgb(55, 228, 217);
    -webkit-transform: rotate(-11.25deg) scale(1.2);
            transform: rotate(-11.25deg) scale(1.2);
  }
  to {
    background: red;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@media screen and (max-width: 1615px) {
  .portfolio-block-photo div {
    width: 340px;
    height: 220px;
  }
}
@media screen and (max-width: 760px) {
  .portfolio-block-photo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 13px;
    padding-left: 13px;
  }
}
@media screen and (max-width: 731px) {
  .portfolio-block-for-title {
    width: 260px;
  }
  .portfolio-block-title {
    font-size: 40px;
  }
}
.progress-of-work {
  padding: 103px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.progress-of-work-block {
  width: 1351px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 55px;
  padding: 0px 45px;
}

.progress-of-work-block-title {
  color: #050505;
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.progress-of-work-block-height {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.progress-of-work-block-second {
  padding-top: 60px;
}

.progress-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 40px;
}

.progress-number {
  color: #858585;
  font-family: "Montserrat", sans-serif;
  font-size: 174.14px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  opacity: 0.15;
}

.progress-number-text {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 35.912px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.progress-of-work-size-photo {
  width: 365px;
  background: radial-gradient(50% 50% at 50% 50%, #FFF 0%, rgba(255, 255, 255, 0) 100%);
}

.progress-of-work-size-photo img {
  width: 100%;
}

.progress-of-work-button {
  width: 422px;
  height: 38px;
  background: #f00;
  border: none;
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  -webkit-transition: 1s background-color;
  transition: 1s background-color;
}

.progress-of-work-button:hover {
  background-color: rgb(252, 118, 118);
}

.display {
  display: none;
}

@media screen and (max-width: 1615px) {
  .progress-of-work-block {
    width: 700px;
  }
  .progress-number {
    font-size: 91.791px;
  }
  .progress-number-text {
    font-size: 22px;
  }
  .progress-of-work-size-photo {
    width: 287.275px;
  }
}
@media screen and (max-width: 760px) {
  .progress-of-work-block-height {
    display: none;
  }
  .progress-of-work-block-title-block {
    text-align: center;
    width: 271px;
  }
  .progress-of-work-block-title {
    font-size: 40px;
  }
  .display {
    display: block;
  }
  .progress-of-work-button {
    width: 271px;
  }
}
* {
  padding: 0px;
  margin: 0px;
}

body {
  height: 2000px;
}