@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap");
.nav2, .phone-order, .nav, .logo-under {
  color: #FFF;
  font-family: "Tenor Sans", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
}

header {
  position: fixed;
  width: 100%;
  height: 85px;
  background-color: #151515;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 80px;
  z-index: 1;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-under {
  text-transform: capitalize;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 37px;
}

.nav {
  height: 20px;
}

.header-nav {
  height: 20px;
}

.nav:hover {
  color: #F00;
  border-bottom: 1px #F00 dashed;
}

.phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 9px;
}

.phone-number {
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
}

.phone-order {
  text-decoration: underline;
}

.phone-order:hover {
  color: #F00;
}

.line {
  display: none;
}

.li-for-mobile {
  color: #FFF;
  font-family: "Tenor Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
}

.li-for-mobile:hover {
  color: #F00;
  -webkit-text-decoration: underline dashed;
          text-decoration: underline dashed;
}

@media screen and (max-width: 1180px) {
  .header-nav {
    display: none;
  }
  .visible {
    display: none;
  }
  header {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .line {
    width: 43px;
    height: 30px;
    display: block;
    background-image: url(../images/three-lines.svg);
    background-repeat: no-repeat;
  }
  .links {
    display: none;
    position: absolute;
    background: rgba(1, 1, 1, 0.95);
    width: 100%;
    height: 353px;
    left: 0;
    top: 0;
  }
  .cross {
    display: none;
  }
  .links.active {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 37px;
  }
  .cross.active {
    display: block;
    position: absolute;
    top: 27px;
    right: 19.5px;
  }
}
@media screen and (max-width: 779px) {
  header {
    gap: 0px;
  }
  .for-mobile {
    width: 65.457px;
    height: 16.364px;
  }
  .logo-under {
    font-size: 10px;
  }
  .telefon-icon {
    display: none;
  }
  .phone-number {
    font-size: 18px;
  }
  .line {
    width: 38px;
    height: 30px;
  }
}
.greetings {
  height: 835px;
  background-color: #010101;
  background-image: url(../images/Mask\ Group.svg);
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 1173px 825px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 65px;
  padding-left: 185px;
}

.greetings div {
  max-width: 625px;
  width: 100%;
}

.greetings-title {
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 88.6%; /* 53.16px */
}

.greetings-text {
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 53.16px */
  max-width: 607px;
  width: 100%;
}

.greetings-btn {
  padding: 19px 53px;
  background-color: #F00;
  border: none;
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal; /* 53.16px */
  letter-spacing: 0.8px;
  text-transform: uppercase;
  text-decoration: none;
}

@media screen and (max-width: 1180px) {
  .greetings {
    background-size: 670px 483px;
    height: 670px;
    padding-left: 34px;
  }
  .greetings-title {
    font-size: 50px;
  }
  .greetings-text {
    font-size: 16px;
  }
  .greetings-btn {
    padding: 15px 50px;
  }
}
@media screen and (max-width: 779px) {
  .greetings-title {
    font-size: 40px;
  }
  .greetings-text {
    font-size: 16px;
  }
  .greetings-btn {
    padding: 15px 45px;
    font-size: 13px;
  }
}
@media screen and (max-width: 500px) {
  .greetings {
    background-size: 430px 400px;
    height: 634px;
    padding-left: 20px;
  }
}
.about-site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 705px;
  height: 100%;
}

.about-site-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 22px;
  padding-top: 51px;
  padding-bottom: 51px;
}

.about-site-block {
  width: 379px;
  height: 509px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #FFF8F8;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 43px;
}
.about-site-block h1 {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 88.6%;
  width: 287px;
}
.about-site-block p {
  color: #3A3A3A;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 190%;
  width: 287px;
  height: 152px;
}
.about-site-block .about-site-block-info {
  color: #050505;
  font-family: "Tenor Sans", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid #1D1C1C;
  text-align: center;
  width: 287px;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1s background-color;
  transition: 1s background-color;
}
.about-site-block .about-site-block-info:hover {
  background-color: rgba(255, 149, 149, 0.6941176471);
}

.about-site-block-visible {
  display: none;
}

@media screen and (max-width: 1180px) {
  .about-site-block {
    width: 339px;
    height: 448px;
  }
  .about-site-block h1 {
    color: #000;
    font-family: "Montserrat", sans-serif;
    font-size: 43px;
    font-style: normal;
    font-weight: 700;
    line-height: 88.6%;
    width: 289px;
  }
  .about-site-block p {
    color: #3A3A3A;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 190%;
    width: 289px;
  }
  .about-site-block .about-site-block-info {
    width: 289px;
    height: 56px;
  }
  .about-site-block .about-site-block-info:hover {
    background-color: rgba(255, 149, 149, 0.6941176471);
  }
}
@media screen and (max-width: 1060px) {
  .about-site-block-visible {
    width: 339px;
    height: 448px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #FFF8F8;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 43px;
  }
  .about-site-block-visible img {
    width: 100%;
  }
}
@media screen and (max-width: 779px) {
  .about-site-block {
    width: 295px;
    height: 427px;
  }
  .about-site-block h1 {
    color: #000;
    font-family: "Montserrat", sans-serif;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 88.6%;
    width: 255px;
  }
  .about-site-block p {
    color: #3A3A3A;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 190%;
    width: 255px;
  }
  .about-site-block .about-site-block-info {
    width: 255px;
    height: 56px;
  }
  .about-site-block .about-site-block-info:hover {
    background-color: rgba(255, 149, 149, 0.6941176471);
  }
  .about-site-block-visible {
    width: 295px;
    height: 427px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #FFF8F8;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 43px;
  }
  .about-site-block-visible img {
    width: 100%;
  }
}
@media screen and (max-width: 611px) {
  .about-site-block-visible {
    display: none;
  }
}
.good-site-options {
  min-height: 1192px;
  height: 100%;
  background-color: #010101;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 31px;
}

.good-site-options-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 100px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.good-site-options-block-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 70px;
}

.title-block-one span {
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 88.567%; /* 53.16px */
}

.usefulness-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 56px;
     -moz-column-gap: 56px;
          column-gap: 56px;
}

.usefulness-block-one {
  width: 360px;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.usefulness-block-one-svg {
  height: 116px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.usefulnes-first {
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: 50px; /* 53.16px */
}

.block-usefulnes-description {
  grid-column: 1/3;
  height: 130px;
}

.usefulnes-description {
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 178.567%; /* 53.16px */
}

.good-site-options-block-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.block-two-title {
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 88.567%; /* 53.16px */
}

.block-two-li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 31px;
}

.block-two-number-size {
  max-width: 81px;
  width: 100%;
}

.block-two-number {
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 55.641px;
  font-style: normal;
  font-weight: 900;
  line-height: normal; /* 53.16px */
  color: #F00;
}

.block-two-name-size {
  max-width: 296px;
  min-width: 296px;
  width: 100%;
}

.block-two-name {
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 88.567%; /* 53.16px */
  color: #FFF8F8;
}

.block-two-text-size {
  max-width: 592px;
  width: 100%;
}

.block-two-text {
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 158.567%; /* 53.16px */
  color: #FFF8F8;
}

.good-site-options-block-three {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.options-block-three-btn {
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal; /* 53.16px */
  color: #FFF;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  background-color: #F00;
  width: 498px;
  height: 58px;
  border: none;
  -webkit-transition: 1s background-color;
  transition: 1s background-color;
}

.options-block-three-btn:hover {
  background-color: rgb(252, 118, 118);
}

@media screen and (max-width: 1254px) {
  .good-site-options {
    padding-top: 87px;
    padding-bottom: 87px;
  }
}
@media screen and (max-width: 838px) {
  .good-site-options {
    padding: 87px 31px;
  }
  .usefulness-blocks {
    -webkit-column-gap: 34px;
       -moz-column-gap: 34px;
            column-gap: 34px;
  }
  .usefulness-block-one {
    width: 302px;
  }
  .adaptiv-photo {
    width: 72.043px;
    height: 72.043px;
  }
  .adaptiv-photo-2 {
    width: 83px;
    height: 102px;
  }
  .adaptiv-photo-3 {
    width: 89.884px;
    height: 103.953px;
  }
  .usefulnes-first {
    font-size: 30px;
  }
  .usefulnes-description {
    font-size: 16px;
  }
}
@media screen and (max-width: 750px) {
  .title-block-one span {
    font-size: 33px;
  }
  .block-two-title {
    font-size: 33px;
  }
  .block-two-li {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    gap: 12px;
  }
  .options-block-three-btn {
    width: 267px;
    height: 82px;
  }
}
@media screen and (max-width: 700px) {
  .usefulness-block-one {
    width: 273px;
  }
  .adaptiv-photo {
    width: 72.043px;
    height: 72.043px;
  }
  .adaptiv-photo-2 {
    width: 83px;
    height: 102px;
  }
  .adaptiv-photo-3 {
    width: 89.884px;
    height: 103.953px;
  }
  .usefulnes-first {
    font-size: 28px;
  }
  .usefulnes-description {
    font-size: 14px;
  }
}
.preliminary-cost-block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.flex-for-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.middle-photo-left {
  position: relative;
  top: 115px;
  right: 441px;
  z-index: -1;
}

.middle-photo-right {
  position: relative;
  top: 185px;
  right: 253px;
  z-index: -1;
}

.flex-for-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.preliminary-cost-block-for-info {
  width: 660px;
  height: 400px;
  position: relative;
  top: 58px;
  right: 137px;
  background: #FFF8F8;
  -webkit-box-shadow: 0px 26px 76px 0px rgba(12, 22, 36, 0.16);
          box-shadow: 0px 26px 76px 0px rgba(12, 22, 36, 0.16);
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 22px;
  z-index: 0;
}

.preliminary-cost-block-for-info div {
  width: 546px;
}

.preliminary-cost-block-for-info-adaptiv div {
  width: 546px;
}

.block-for-info-title {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: 137.187%; /* 41.156px */
}

.block-for-info-text {
  color: #3A3A3A;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 183.911%; /* 41.156px */
}

.block-for-info-button {
  background-color: #F00;
  width: 306px;
  height: 58px;
  border: none;
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal; /* 53.16px */
  text-transform: uppercase;
  -webkit-transition: 1s background-color;
  transition: 1s background-color;
}

.block-for-info-button:hover {
  background-color: rgb(252, 118, 118);
}

.block-for-info-button-adaptiv {
  background-color: #F00;
  width: 306px;
  height: 58px;
  border: none;
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal; /* 53.16px */
  text-transform: uppercase;
  -webkit-transition: 1s background-color;
  transition: 1s background-color;
}

.block-for-info-button-adaptiv:hover {
  background-color: rgb(252, 118, 118);
}

.big-photo {
  position: relative;
  right: 413px;
  z-index: -2;
}

.small-photo {
  position: relative;
  justify-self: end;
  top: -125px;
  right: 367px;
  z-index: -1;
}

.preliminary-cost-block-for-info-adaptiv {
  display: none;
  width: 660px;
  height: 400px;
  position: relative;
  top: -130px;
  right: 210px;
  background: #FFF8F8;
  -webkit-box-shadow: 0px 26px 76px 0px rgba(12, 22, 36, 0.16);
          box-shadow: 0px 26px 76px 0px rgba(12, 22, 36, 0.16);
  z-index: -1;
}

@media screen and (max-width: 1615px) {
  .middle-photo-left {
    width: 314px;
    height: 210px;
    right: 310px;
  }
  .middle-photo-right {
    width: 230px;
    height: 153px;
    right: 210px;
  }
  .preliminary-cost-block-for-info {
    right: 37px;
  }
  .big-photo {
    width: 628.969px;
    height: 424.07px;
    right: 313px;
  }
  .small-photo {
    width: 237.471px;
    height: 154.816px;
    right: 267px;
    top: -100px;
  }
}
@media screen and (max-width: 1360px) {
  .preliminary-cost-block-for-info-adaptiv {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 22px;
    z-index: 0;
  }
  .preliminary-cost-block-for-info {
    display: none;
  }
  .small-photo {
    display: none;
  }
}
@media screen and (max-width: 960px) {
  .preliminary-cost-block {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 42px;
  }
  .middle-photo-left {
    width: 162.854px;
    height: 108.915px;
    right: 13px;
    top: 44px;
  }
  .middle-photo-right {
    width: 130.368px;
    height: 86.723px;
    right: 0px;
    top: 82px;
  }
  .preliminary-cost-block-for-info-adaptiv {
    width: 295px;
    height: 420px;
    right: 0px;
    top: 0px;
  }
  .preliminary-cost-block-for-info-adaptiv div {
    width: 265.302px;
  }
  .big-photo {
    width: 304.679px;
    height: 205.424px;
    right: 15px;
  }
  .block-for-info-title {
    font-size: 20px;
  }
  .block-for-info-button-adaptiv {
    width: 268px;
    height: 33px;
  }
}
.portfolio {
  max-height: 1208px;
  height: 100%;
  background-color: #010101;
  padding-top: 96px;
  padding-bottom: 96px;
}

.portfolio-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 58px;
}

.portfolio-block-title {
  color: #FFF;
  /* Заголовок 2 */
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 88.567%; /* 44.283px */
}

.portfolio-block-photo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio-block-photo div:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.portfolio-images {
  width: 100%;
}

.portfolio-button {
  width: 281px;
  height: 38px;
  border: 1px solid #FFF;
  background: none;
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.portfolio-button:hover {
  -webkit-animation-name: background;
          animation-name: background;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes background {
  from {
    background: none;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    background: rgb(180, 35, 216);
    -webkit-transform: rotate(11.25deg) scale(1.2);
            transform: rotate(11.25deg) scale(1.2);
  }
  50% {
    background: rgb(14, 43, 208);
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    background: rgb(55, 228, 217);
    -webkit-transform: rotate(-11.25deg) scale(1.2);
            transform: rotate(-11.25deg) scale(1.2);
  }
  to {
    background: red;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes background {
  from {
    background: none;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    background: rgb(180, 35, 216);
    -webkit-transform: rotate(11.25deg) scale(1.2);
            transform: rotate(11.25deg) scale(1.2);
  }
  50% {
    background: rgb(14, 43, 208);
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    background: rgb(55, 228, 217);
    -webkit-transform: rotate(-11.25deg) scale(1.2);
            transform: rotate(-11.25deg) scale(1.2);
  }
  to {
    background: red;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@media screen and (max-width: 1615px) {
  .portfolio-block-photo div {
    width: 340px;
    height: 220px;
  }
}
@media screen and (max-width: 760px) {
  .portfolio-block-photo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 13px;
    padding-left: 13px;
  }
}
@media screen and (max-width: 731px) {
  .portfolio-block-for-title {
    width: 260px;
  }
  .portfolio-block-title {
    font-size: 40px;
  }
}
.progress-of-work {
  padding: 103px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.progress-of-work-block {
  width: 1351px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 55px;
  padding: 0px 45px;
}

.progress-of-work-block-title {
  color: #050505;
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.progress-of-work-block-height {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.progress-of-work-block-second {
  padding-top: 60px;
}

.progress-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 40px;
}

.progress-number {
  color: #858585;
  font-family: "Montserrat", sans-serif;
  font-size: 174.14px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  opacity: 0.15;
}

.progress-number-text {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 35.912px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.progress-of-work-size-photo {
  width: 365px;
  background: radial-gradient(50% 50% at 50% 50%, #FFF 0%, rgba(255, 255, 255, 0) 100%);
}

.progress-of-work-size-photo img {
  width: 100%;
}

.progress-of-work-button {
  width: 422px;
  height: 38px;
  background: #f00;
  border: none;
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  -webkit-transition: 1s background-color;
  transition: 1s background-color;
}

.progress-of-work-button:hover {
  background-color: rgb(252, 118, 118);
}

.carousel-container {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel {
  overflow: hidden;
  width: 270px;
  height: 240px;
}

.slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.carousel-block-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.carousel-block-photo {
  position: relative;
  top: -40px;
  z-index: -1;
}

.slides img {
  margin-right: 10px;
}

.slider-container {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.currentNumber {
  color: rgb(0, 0, 0);
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.slider {
  width: 100%;
  height: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background: -webkit-gradient(linear, left top, right top, from(red), color-stop(0%, white), color-stop(100%, white), to(red));
  background: linear-gradient(to right, red 0%, white 0%, white 100%, red 100%);
  outline: none;
  border: 2px solid black;
  border-radius: 5px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 35px;
  height: 15px;
  background: #ff0000;
  border: 2px solid rgb(0, 0, 0);
  cursor: pointer;
  border-radius: 5px;
}

@media screen and (max-width: 1615px) {
  .progress-of-work-block {
    width: 700px;
  }
  .progress-number {
    font-size: 91.791px;
  }
  .progress-number-text {
    font-size: 22px;
  }
  .progress-of-work-size-photo {
    width: 287.275px;
  }
}
@media screen and (max-width: 760px) {
  .progress-of-work-block-height {
    display: none;
  }
  .progress-of-work-block-title-block {
    text-align: center;
    width: 271px;
  }
  .progress-of-work-block-title {
    font-size: 40px;
  }
  .carousel-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .progress-number {
    font-size: 65px;
  }
  .progress-number-text {
    font-size: 16px;
    width: 190px;
  }
  .progress-of-work-button {
    width: 271px;
  }
}
.send-message * {
  color: white;
  font-size: 18px;
}

.send-message {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
  padding-top: 93px;
  padding-bottom: 230px;
}

.send-message-block {
  max-width: 1115px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px;
}

.send-message-title {
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 61px;
}

.send-message-text-block {
  max-width: 698px;
  width: 100%;
}

.send-message-text {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: 500;
  line-height: 33.94px;
}

.send-message-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 170px;
}

.send-message-form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 58px;
}

.information {
  height: 60px;
  width: 419px;
  background: none;
  border: none;
  border-bottom: 1.21px solid rgb(255, 254, 254);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  outline: none;
}

textarea {
  width: 481.27px;
  height: 156.62px;
  background: none;
  outline: none;
  resize: none;
  padding: 17px 20px;
}

.send-message-button {
  width: 347px;
  height: 58px;
  background: rgb(255, 0, 0);
  border: none;
}

@media screen and (max-width: 1140px) {
  .send-message-block {
    gap: 43px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .send-message-title-block {
    padding-left: 34px;
    padding-right: 34px;
  }
  .send-message-text-block {
    width: auto;
    padding-left: 34px;
    padding-right: 34px;
  }
  .send-message-form {
    gap: 64px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 34px;
    padding-right: 34px;
  }
}
@media screen and (max-width: 1074px) {
  .name-disable-adaptiv {
    display: none;
  }
  .send-message-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (max-width: 552px) {
  .send-message {
    padding-top: 90px;
    padding-bottom: 56px;
  }
  .send-message * {
    font-size: 14px;
  }
  .send-message-title {
    font-size: 40px;
  }
  .send-message-text {
    font-size: 15px;
  }
  .information {
    width: 283.35px;
  }
  textarea {
    width: 248px;
    height: 150px;
  }
  .send-message-button {
    width: 286px;
    height: 56px;
  }
  .send-message-block {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.additional * {
  color: rgb(58, 58, 58);
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
}

.additional {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 83px;
  padding: 107px 0px;
}

.title {
  max-width: 1170px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.title span {
  color: black;
  font-size: 50px;
  font-weight: 800;
  line-height: 61px;
}

.additional-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.additional-content-li {
  height: 540px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.additional-content-first-block-photo {
  width: 585px;
  height: 540px;
}

.additional-content-first-block-photo img {
  width: 100%;
  height: 100%;
}

.additional-content-li-title {
  width: 334px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding-left: 5px;
}

.additional-content-li-title p {
  color: rgb(0, 0, 0);
  font-family: "Montserrat", sans-serif;
  font-size: 38.62px;
  font-weight: 700;
  line-height: 47px;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.list li {
  list-style-type: circle;
  color: red;
}

.additional-content-li-button {
  width: 334px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding-left: 5px;
}

.additional-content-li-button button {
  border: none;
  /* Акцент */
  background: rgb(255, 0, 0);
  width: 350px;
  height: 58px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 5%;
}

.additional-content-li-button button:hover {
  -webkit-animation-name: button-li;
          animation-name: button-li;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes button-li {
  from {
    background: rgb(255, 0, 0);
  }
  25% {
    background: rgb(67, 117, 245);
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  50% {
    background: rgb(235, 32, 164);
  }
  75% {
    background: rgb(0, 202, 0);
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  to {
    background: rgb(255, 0, 0);
  }
}

@keyframes button-li {
  from {
    background: rgb(255, 0, 0);
  }
  25% {
    background: rgb(67, 117, 245);
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  50% {
    background: rgb(235, 32, 164);
  }
  75% {
    background: rgb(0, 202, 0);
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  to {
    background: rgb(255, 0, 0);
  }
}
@media screen and (max-width: 1615px) {
  .additional * {
    font-size: 15px;
  }
  .additional {
    gap: 56px;
    padding: 98px 0px;
  }
  .title {
    width: 700px;
  }
  .title span {
    font-size: 30px;
  }
  .additional-content-first-block-photo,
  .additional-content-li {
    width: 350px;
    height: 350px;
  }
  .additional-content-first-block-photo img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .additional-content-li-title {
    width: 268px;
  }
  .additional-content-li-title p {
    font-size: 30px;
    line-height: 30px;
  }
  .list {
    gap: 17px;
  }
  .additional-content-li-button {
    width: 270px;
    font-size: 14px;
  }
  .additional-content-li-button button {
    width: 259px;
    height: 47px;
  }
}
@media screen and (max-width: 710px) {
  .title {
    width: 350px;
  }
  .additional-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .additional-content-second-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
.calculation-form * {
  color: rgb(58, 58, 58);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 137.19%;
}

.calculation-form {
  padding-top: 161px;
  padding-bottom: 202px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.calculation-form-block {
  width: 980px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 55px;
}

.calculation-form-block-title {
  width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 27px;
}

.form-title {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 88.57%;
}

.calculation-form-block-quetion {
  width: 980px;
  height: 566px;
  background: rgb(255, 248, 248);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

.form-page-number-adaptiv {
  padding: 0px 10px;
}

.form-page-number-adaptiv div {
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}

.second {
  height: 705px;
}

.third {
  height: 670px;
}

.form-page-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-number {
  color: rgb(0, 0, 0);
  font-family: "Tenor Sans", sans-serif;
  font-size: 13.55px;
  font-weight: 400;
  position: relative;
  left: 18px;
}

.page-number-2 {
  color: rgb(0, 0, 0);
  font-family: "Tenor Sans", sans-serif;
  font-size: 13.55px;
  font-weight: 400;
}

.page-number-3 {
  color: rgb(0, 0, 0);
  font-family: "Tenor Sans", sans-serif;
  font-size: 13.55px;
  font-weight: 400;
  position: relative;
  right: 18px;
}

.arrow-left {
  position: relative;
  right: 398px;
}

.arrow-right {
  position: relative;
  left: 398px;
}

.calculation-form-block-quetion-title {
  color: rgb(0, 0, 0);
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  font-weight: 700;
  line-height: 147.19%;
}

.form-with-checkbox-and-quetion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 58px;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 402.27px);
  grid-template-rows: repeat(3, 67.75px);
  gap: 15px;
}

.form-grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 402.27px);
  grid-template-rows: repeat(4, 67.75px);
  gap: 15px;
}

.form-grid div {
  -webkit-box-shadow: 1.69px 3.39px 16.94px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 1.69px 3.39px 16.94px 0px rgba(0, 0, 0, 0.1);
  background: rgb(254, 254, 254);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding: 0px 19.5px;
}

.form-grid-2 div {
  -webkit-box-shadow: 1.69px 3.39px 16.94px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 1.69px 3.39px 16.94px 0px rgba(0, 0, 0, 0.1);
  background: rgb(254, 254, 254);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding: 0px 19.5px;
}

.form-grid div label {
  width: 300px;
}

.form-grid-2 div label {
  width: 300px;
}

.form-grid-checkbox {
  background-color: rgb(0, 0, 0);
  height: 29px;
  width: 29px;
}

.submit-button {
  width: 162.55px;
  height: 49.18px;
  background-color: red;
  color: white;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.form-grid-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1000px) {
  .calculation-form-block {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .calculation-form-block-quetion {
    width: 700px;
    height: 499px;
    gap: 30px;
  }
  .second {
    height: 676px;
  }
  .third {
    height: 500px;
  }
  .arrow-left {
    right: 290px;
  }
  .arrow-right {
    left: 290px;
  }
  .form-with-checkbox-and-quetion {
    gap: 34px;
  }
  .form-grid {
    grid-template-columns: repeat(2, 330px);
    grid-template-rows: repeat(3, 70px);
  }
  .form-grid-2 {
    grid-template-columns: repeat(2, 330px);
    grid-template-rows: repeat(4, 70px);
  }
  .form-grid-third {
    grid-template-rows: repeat(2, 70px);
  }
  .form-grid div label {
    font-size: 14px;
  }
  .form-grid-2 div label {
    font-size: 14px;
  }
  .submit-button {
    width: 127.29px;
    height: 38.22px;
  }
}
@media screen and (max-width: 710px) {
  .calculation-form-block-title {
    width: 620px;
  }
  .calculation-form-block-quetion {
    width: 620px;
  }
  .third {
    height: 550px;
  }
  .arrow-left {
    right: 250px;
  }
  .arrow-right {
    left: 250px;
  }
  .form-grid {
    grid-template-columns: repeat(2, 295px);
    grid-template-rows: repeat(3, 74px);
  }
  .form-grid-2 {
    grid-template-columns: repeat(2, 295px);
    grid-template-rows: repeat(4, 74px);
  }
  .form-grid-third {
    grid-template-rows: repeat(2, 74px);
  }
  .form-grid div {
    padding: 0px 0px 0px 11.59px;
  }
  .form-grid-2 div {
    padding: 0px 0px 0px 11.59px;
  }
}
@media screen and (max-width: 630px) {
  .calculation-form {
    padding-top: 130px;
    padding-bottom: 63px;
  }
  .calculation-form-block {
    gap: 38px;
  }
  .calculation-form-block-title {
    width: 283px;
  }
  .calculation-form-block-quetion {
    width: 295px;
    height: 824px;
    gap: 17px;
  }
  .second {
    height: 1045px;
  }
  .third {
    height: 724px;
  }
  .form-page-number-adaptiv {
    width: 275px;
  }
  .form-page-number-adaptiv div {
    padding-left: 0px;
    padding-right: 0px;
  }
  .page-number-3 {
    right: 0;
  }
  .calculation-form-block-quetion-title {
    font-size: 25px;
  }
  .form-page-number img {
    display: none;
  }
  .page-number {
    left: 0;
  }
  .form-grid {
    grid-template-columns: 275px;
    grid-template-rows: repeat(6, 74px);
  }
  .form-grid-2 {
    grid-template-columns: 275px;
    grid-template-rows: repeat(8, 74px);
  }
  .form-grid-third {
    grid-template-rows: repeat(4, 74px);
  }
  .form-grid div {
    padding: 0px 0px 0px 11.59px;
  }
  .form-grid-2 div {
    padding: 0px 0px 0px 11.59px;
  }
}
.form-telefon-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

.form-telefon-number-input input[type=tel] {
  width: 375px;
  height: 40px;
  background: none;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0);
  outline: none;
  color: rgb(0, 0, 0);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 147.19%;
}

.submit-button-tel {
  color: #fff;
  background-color: red;
  border: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 49.18px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hover-button-submit {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (max-width: 1000px) {
  .form-page-number-adaptiv-title {
    font-size: 22px;
  }
}
@media screen and (max-width: 630px) {
  .telefon-number-gap {
    gap: 50px;
    height: 540px;
  }
  .form-page-number-adaptiv-title {
    font-size: 16px;
  }
  .form-telefon-number-input input[type=tel] {
    width: 200px;
  }
  .form-telefon-number {
    gap: 100px;
  }
}
footer {
  background-color: black;
  min-height: 225px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
  padding: 0px 34px;
}

.footer-center {
  max-width: 1167px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-logo-up {
  color: rgb(255, 255, 255);
  font-family: "Tenor Sans", sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 29px;
}

.footer-logo-under {
  color: rgb(255, 255, 255);
  font-family: "Tenor Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 29px;
}

.nav2 {
  height: 20px;
}

.nav2:hover {
  color: #F00;
  border-bottom: 1px #F00 dashed;
}

.footer-nav {
  height: 20px;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 41px;
}

.year {
  color: rgb(255, 255, 255);
  font-family: "Tenor Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

@media screen and (max-width: 840px) {
  .nav2 {
    font-size: 13px;
  }
  .footer-nav {
    gap: 15px;
  }
}
@media screen and (max-width: 700px) {
  footer {
    padding: 52px 0px;
  }
  .footer-center {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px;
  }
  .footer-nav {
    display: none;
  }
  .footer-logo-under {
    letter-spacing: 10px;
  }
}
@media screen and (max-width: 390px) {
  .year {
    max-width: 293px;
    width: 100%;
    text-align: center;
  }
}
* {
  padding: 0px;
  margin: 0px;
}