@import "_fonts";

%header {
    color: #FFF;
    font-family: $tenor-sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
}

header {
    position: fixed;
    width: 100%;
    height: 85px;
    background-color: #151515;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-under {
    @extend %header;
    text-transform: capitalize;
}

nav {
    display: flex;
    gap: 37px;
}

.nav {
    @extend %header;
}

.nav:hover {
    color: #F00;
    border-bottom: 1px #F00 dashed;
}

.phone {
    display: flex;
    gap: 9px;
}

.phone-number {
    color: #FFF;
    font-family: $Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
}

.phone-order {
    @extend %header;
    text-decoration:underline;
}

.phone-order:hover {
    color: #F00;
}

span {
    font-family: $Montserrat;
}
