@import "_fonts";

%header {
    color: #FFF;
    font-family: $tenor-sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
}

header {
    position: fixed;
    width: 100%;
    height: 85px;
    background-color: #151515;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    z-index: 1;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-under {
    @extend %header;
    text-transform: capitalize;
}

nav {
    display: flex;
    gap: 37px;
}

.nav {
    @extend %header;
}

.nav:hover {
    color: #F00;
    border-bottom: 1px #F00 dashed;
}

.phone {
    display: flex;
    gap: 9px;
}

.phone-number {
    color: #FFF;
    font-family: $Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
}

.phone-order {
    @extend %header;
    text-decoration:underline;
}

.phone-order:hover {
    color: #F00;
}

.line {
    display: none;
}

.li-for-mobile {
    color: #FFF;
    font-family: $tenor-sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
}

.li-for-mobile:hover {
    color: #F00;
    text-decoration: underline dashed;
}

@media screen and (max-width: 1180px) {

    .header-nav {
        display: none;
    } 

    .visible {
        display: none;
    }

    header {
        justify-content: space-evenly;
    }

    .line {
        width: 43px;
        height: 30px;
        display: block;
        background-image: url(../images/three-lines.svg);
        background-repeat: no-repeat;
    }

    .links {
        display: none;
        position: absolute;
        background: rgba(1, 1, 1, 0.95);
        width: 100%;
        height: 353px;
        left: 0;
        top: 0;

    }

    .cross {
        display: none;
    }

    .line:hover .links {
        display: block;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 37px;
    }

    .line:hover .cross {
        display: block;
        position: absolute;
        top: 27px;
        right: 19.5px;
    }
}

@media screen and (max-width: 779px) {

    header {
        gap: 0px;
    }

    .for-mobile {
        width: 65.457px;
        height: 16.364px;
    }

    .logo-under {
        font-size: 10px;
    }

    .telefon-icon {
        display: none;
    }


    .phone-number {
        font-size: 18px;
    }

    .line {
        width: 38px;
        height: 30px;
    }
}