@import "../fonts";

@mixin good-site-options-text ($font-size, $font-weight, $line-height){
    color: #FFF;
    font-family: $Montserrat;
    font-size: $font-size;
    font-style: normal;
    font-weight: $font-weight;
    line-height: $line-height; /* 53.16px */
}

.good-site-options {
    min-height: 1192px;
    height: 100%;
    background-color: #010101;
    display: flex;
    justify-content: center;
    align-items: center;
}

.good-site-options-blocks {
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: start;
}

.good-site-options-block-one {
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.title-block-one {     
    span {
        @include good-site-options-text(50px, 800, 88.567%)
    }
}

.usefulness-blocks {
    display: flex;
    flex-wrap: wrap;
    column-gap: 56px;
    row-gap: 56px;
}

.usefulness-block-one {
    width: 360px;
    display: grid;
    gap: 30px;
    align-items: center;
}

.usefulnes-first {
    @include good-site-options-text(35px, 600, 88.567%)
}

.block-usefulnes-description {
    grid-column: 1/3;
}

.usefulnes-description {
    @include good-site-options-text(18px, 400, 178.567%)
}

.good-site-options-block-two {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.block-two-title {
    @include good-site-options-text(50px, 800, 88.567%)
}

.block-two-li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 31px;
}

.block-two-number-size {
    width: 81px;
}

.block-two-number {
    @include good-site-options-text(55.641px, 900, normal);
    color: #F00;
}

.block-two-name-size {
    width: 296px;
}

.block-two-name {
    @include good-site-options-text(25px, 600, 88.567%);
    color: #FFF8F8;
}

.block-two-text-size {
    width: 592px;
}

.block-two-text {
    @include good-site-options-text(18px, 400, 158.567%);
    color: #FFF8F8;
}

.options-block-three-btn {
    @include good-site-options-text(16px, 600, normal);
    color: #FFF;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    background-color: #F00;
    width: 498px;
    height: 58px;
    border: none;
    transition:  1s background-color;
}

.options-block-three-btn:hover {
    background-color: rgb(252, 118, 118);
}