@mixin good-site-options-text ($font-size, $font-weight, $line-height){
    color: #FFF;
    font-family: $Montserrat;
    font-size: $font-size;
    font-style: normal;
    font-weight: $font-weight;
    line-height: $line-height; /* 53.16px */
}

.good-site-options {
    min-height: 1192px;
    height: 100%;
    background-color: #010101;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 31px;
}

.good-site-options-blocks {
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: start;
}

.good-site-options-block-one {
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.title-block-one {     
    span {
        @include good-site-options-text(50px, 800, 88.567%)
    }
}

.usefulness-blocks {
    display: flex;
    flex-wrap: wrap;
    column-gap: 56px;
}

.usefulness-block-one {
    width: 360px;
    display: grid;
    align-items: center;
}

.usefulness-block-one-svg {
    height: 116px;
    display: flex;
    justify-content: center;
    align-items: center;
}

// .usefulness-block-one-svg img {
//     align-self: center;
// }

.usefulnes-first {
    @include good-site-options-text(35px, 600, 50px)
}

.block-usefulnes-description {
    grid-column: 1/3;
    height: 130px;
}

.usefulnes-description {
    @include good-site-options-text(18px, 400, 178.567%)
}

.good-site-options-block-two {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.block-two-title {
    @include good-site-options-text(50px, 800, 88.567%)
}

.block-two-li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // flex-wrap: wrap;
    gap: 31px;
}

.block-two-number-size {
    max-width: 81px;
    width: 100%;
}

.block-two-number {
    @include good-site-options-text(55.641px, 900, normal);
    color: #F00;
}

.block-two-name-size {
    max-width: 296px;
    min-width: 296px;
    width: 100%;
}

.block-two-name {
    @include good-site-options-text(25px, 600, 88.567%);
    color: #FFF8F8;
}

.block-two-text-size {
    max-width: 592px;
    width: 100%;
}

.block-two-text {
    @include good-site-options-text(18px, 400, 158.567%);
    color: #FFF8F8;
}

.good-site-options-block-three {
    width: 100%;
    display: flex;
    justify-content: center;

}

.options-block-three-btn {
    @include good-site-options-text(16px, 600, normal);
    color: #FFF;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    background-color: #F00;
    width: 498px;
    height: 58px;
    border: none;
    transition:  1s background-color;
}

.options-block-three-btn:hover {
    background-color: rgb(252, 118, 118);
}

@media screen and (max-width: 1254px) {
    .good-site-options {
        padding-top: 87px;
        padding-bottom: 87px;
    }    
}

@media screen and (max-width: 900px) {

}

@media screen and (max-width: 838px) {
    .good-site-options {
        padding: 87px 31px;

    }

    .usefulness-blocks {
        column-gap: 34px;
        // row-gap: 45px;
    }

    .usefulness-block-one {
        width: 302px;
    }

    .adaptiv-photo {
        width: 72.043px;
        height: 72.043px;
    }

    .adaptiv-photo-2 {
        width: 83px;
        height: 102px;
    }

    .adaptiv-photo-3 {
        width: 89.884px;
        height: 103.953px;
    }

    .usefulnes-first {
        font-size: 30px;
    }

    .usefulnes-description {
        font-size: 16px;
    }
}

@media screen and (max-width: 750px) {
    .title-block-one span {
        font-size: 33px;
    }

    .block-two-title {
        font-size: 33px;
    }

    .block-two-li {
        flex-wrap: wrap;
        justify-content: start;
        gap: 12px;
    } 
    
    .options-block-three-btn {
        width: 267px;
        height: 82px;
    }
}

@media screen and (max-width: 700px) {

    .usefulness-block-one {
        width: 273px;
    }

    .adaptiv-photo {
        width: 72.043px;
        height: 72.043px;
    }

    .adaptiv-photo-2 {
        width: 83px;
        height: 102px;
    }

    .adaptiv-photo-3 {
        width: 89.884px;
        height: 103.953px;
    }

    .usefulnes-first {
        font-size: 28px;
    }

    .usefulnes-description {
        font-size: 14px;
    }
}