.calculation-form * {
    color: rgb(58, 58, 58);
    font-family: $Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 137.19%;
}

.calculation-form {
    padding-top: 161px;
    padding-bottom: 202px;
    display: flex;
    justify-content: center;
}

.calculation-form-block {
    width: 980px;
    display: flex;
    flex-direction: column;
    gap: 55px;
}

.calculation-form-block-title {
    width: 700px;
    display: flex;
    flex-direction: column;
    gap: 27px;
}

.form-title {
    color: black;
    font-family: $Montserrat;
    font-size: 50px;
    font-weight: 800;
    line-height: 88.57%;
}

.calculation-form-block-quetion {
    width: 980px;
    height: 566px;
    background: rgb(255, 248, 248);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.form-page-number-adaptiv {
    padding: 0px 10px;
}

.form-page-number-adaptiv div {
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}

.second {
    height: 705px;
}

.third {
    height: 670px;
}

.form-page-number {
    display: flex;
    justify-content: center;
}

.page-number {
    color: rgb(0, 0, 0);
    font-family: $tenor-sans;
    font-size: 13.55px;
    font-weight: 400;
    position: relative;
    left: 18px;
}

.page-number-2 {
    color: rgb(0, 0, 0);
    font-family: $tenor-sans;
    font-size: 13.55px;
    font-weight: 400;
}

.page-number-3 {
    color: rgb(0, 0, 0);
    font-family: $tenor-sans;
    font-size: 13.55px;
    font-weight: 400;
    position: relative;
    right: 18px;
}

.arrow-left {
    position: relative;
    right: 398px;
}

.arrow-right {
    position: relative;
    left: 398px;
}



.calculation-form-block-quetion-title {
    color: rgb(0, 0, 0);
    font-family: $Montserrat;
    font-size: 20px;
    font-weight: 700;
    line-height: 147.19%;
}

.form-with-checkbox-and-quetion {
    display: flex;
    flex-direction: column;
    gap: 58px;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 402.27px);
    grid-template-rows: repeat(3, 67.75px)  ;
    gap: 15px;
}

.form-grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 402.27px);
    grid-template-rows: repeat(4, 67.75px)  ;
    gap: 15px;
}

.form-grid div {
    box-shadow: 1.69px 3.39px 16.94px 0px rgba(0, 0, 0, 0.1);
    background: rgb(254, 254, 254);
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0px 19.50px;
}

.form-grid-2 div {
    box-shadow: 1.69px 3.39px 16.94px 0px rgba(0, 0, 0, 0.1);
    background: rgb(254, 254, 254);
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0px 19.50px;
}

.form-grid div label {
    width: 300px;
}

.form-grid-2 div label {
    width: 300px;
}

.form-grid-checkbox {
    background-color: rgb(0, 0, 0);
    height: 29px;
    width: 29px;
}

// input[type=submit] {
//     width: 162.55px;
//     height: 49.18px;
//     background-color: red;
//     color: white    ;
//     border: none;
// }

.submit-button {
    width: 162.55px;
    height: 49.18px;
    background-color: red;
    color: white    ;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}


.form-grid-submit {
    display: flex;
    justify-content: center;
}

.calcul-price-for-project {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.price {
    color: red;
    font-weight: 700;
    line-height: 147.19%;
    font-family: $Montserrat;
    font-size: 20px;
}

@media screen and (max-width: 1000px) {

    .calculation-form-block {
        align-items: center;
    }

    .calculation-form-block-quetion {
        width: 700px;
        height: 499px;
        gap: 30px;
    }

    .second {
        height: 676px;
    }

    .third {
        height: 500px;
    }

    .arrow-left {
        right: 290px;
    }

    .arrow-right {
        left: 290px;
    }

    .form-with-checkbox-and-quetion {
        gap: 34px;
    }

    .form-grid {
        grid-template-columns: repeat(2, 330px);
        grid-template-rows: repeat(3, 70px);
    }

    .form-grid-2 {
        grid-template-columns: repeat(2, 330px);
        grid-template-rows: repeat(4, 70px);
    }

    .form-grid-third {
        grid-template-rows: repeat(2, 70px);
    }

    .form-grid div label {
        font-size: 14px;
    }

    .form-grid-2 div label {
        font-size: 14px;
    }

    // input[type=submit] {
    //     width: 127.29px;
    //     height: 38.22px;
    // }

    .submit-button {
        width: 127.29px;
        height: 38.22px;
    }
}

@media screen and (max-width: 710px) {

    .calculation-form-block-title {
        width: 620px;
    }

    .calculation-form-block-quetion {
        width: 620px;
    }

    .third {
        height: 550px;
    }

    .arrow-left {
        right: 250px;
    }

    .arrow-right {
        left: 250px;
    }

    .form-grid {
        grid-template-columns: repeat(2, 295px);
        grid-template-rows: repeat(3, 74px);
    }

    .form-grid-2 {
        grid-template-columns: repeat(2, 295px);
        grid-template-rows: repeat(4, 74px);
    }

    .form-grid-third {
        grid-template-rows: repeat(2, 74px);
    }

    .form-grid div {
        padding: 0px 0px 0px 11.59px;
    }

    .form-grid-2 div {
        padding: 0px 0px 0px 11.59px;
    }
}

@media screen and (max-width: 630px) {

    .calculation-form {
        padding-top: 130px;
        padding-bottom: 63px;
    }

    .calculation-form-block {
        gap: 38px;
    }

    .calculation-form-block-title {
        width: 283px;
    }

    .calculation-form-block-quetion {
        width: 295px;
        height: 824px;
        gap: 17px;
    }

    .second {
        height: 1045px;
    }

    .third {
        height: 724px;
    }

    .form-page-number-adaptiv {
        width: 275px;
    }

    .form-page-number-adaptiv div {
        padding-left: 0px;
        padding-right: 0px;
    }

    .page-number-3 {
        right: 0;
    }

    .calculation-form-block-quetion-title {
        font-size: 25px;
    }

    .form-page-number img {
        display: none;
    }

    .page-number {
        left: 0;
    }

    .form-grid {
        grid-template-columns: 275px;
        grid-template-rows: repeat(6, 74px);
    }

    .form-grid-2 {
        grid-template-columns: 275px;
        grid-template-rows: repeat(8, 74px);
    }

    .form-grid-third {
        grid-template-rows: repeat(4, 74px);
    }

    .form-grid div {
        padding: 0px 0px 0px 11.59px;
    }

    .form-grid-2 div {
        padding: 0px 0px 0px 11.59px;
    }

    .price {
        font-size: 16px;
    }
}