.form-telefon-number {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.form-telefon-number-input input[type=tel] {
    width: 375px;
    height: 40px;
    background: none;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    outline: none;

    color: rgb(0, 0, 0);
    font-family: $Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 147.19%;
}

.submit-button-tel{
    color: #fff;
    background-color: red;
    border: none;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 49.18px;
    text-decoration: none;
    display: flex;
}

.hover-button-submit {
    width: 400px;
}

@media screen and (max-width: 1000px) {
    .form-page-number-adaptiv-title {
        font-size: 20px;
    }
}

@media screen and (max-width: 630px) {

    .telefon-number-gap {
        gap: 50px;
        height: 540px;
    }

    .form-page-number-adaptiv-title {
        font-size: 16px;
    }

    .form-telefon-number-input input[type=tel] {
        width: 200px;
    }

    .form-telefon-number {
        gap: 30px;
    }

    .hover-button-submit {
        width: 200px;
    }
}